/.venv
/.vscode
/cache.html
/cache_timestamp.txt
/credentials.json
/lib.py
/matches_calendar.ics
/MediaWikiAPI.py
/token.pickle
/__pycache__
.env
win_scheduler.ps1
token.json
.env
*.html
driver/
temp/
